RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
ErrorDocument 404 /404.html
# 1 month = 
# 2592000

# 1 week = 
# 604800

# 60 hours = 
# 216000

# 10 minutes = 
# 600


<Ifmodule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    
    <FilesMatch "\\.(ico|jpe?g|png|gif|swf|svg)$">
        Header set Cache-Control "max-age=2592000, public, must-revalidate"
    </FilesMatch>

    <FilesMatch "\\.(css)$">
        Header set Cache-Control "max-age=216000, public, must-revalidate"
    </FilesMatch>

    <FilesMatch "\\.(js)$">
        Header set Cache-Control "max-age=216000, private, must-revalidate"
    </FilesMatch>

    <FilesMatch "\\.(x?html?|php)$">
        Header set Cache-Control "max-age=600, private, must-revalidate"
    </FilesMatch>
</IfModule>


<IfModule mod_expires.c>
  # Enable expirations
  ExpiresActive On 
  # Default directive
  ExpiresDefault "access plus 2592000 seconds"

  # My favicon
  ExpiresByType image/x-icon "access plus 1 week"

  # Images
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/jpg "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/svg "access plus 2592000 seconds"

  # CSS
  ExpiresByType text/css "access 216000 seconds"

  # Javascript
  ExpiresByType application/javascript "access plus 216000 seconds"
</IfModule>


# protect the htaccess file
<files .htaccess>
    order allow,deny
    deny from all
</files>

# protection de la lecture des répertoires
Options -Indexes