---
layout: default
---


<main id="main" class="main-swiper grabbable grabX">
    <div class="swiper-wrapper">

        {% comment %}
        {% include sections/formation.html %}
        {% include sections/we-work-together.html %}
        {% endcomment %}
        
        
        {% include sections/realisations.html %}
        {% include sections/about.html %}
        {% include sections/why-work-with-me.html %}
        {% include sections/skills.html %}
        {% include sections/informatic-skills.html %}
        {% include sections/meet-us.html %}
        
    </div>
</main>
