<section class="swiper-slide" id="intro" data-hash="a-propos" aria-title="À propos">
    <div class="sub">
        <div>
            <h1 class="title" data-swiper-parallax-x="-400"><em class="toAnimate">À propos</em></h1>
            <!-- <h2>À propos</h2> -->
            <!-- <span class="italic">Qui suis-je?</span> -->
        </div>
        
        <div class="section-swiper-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="rounded xlarge" src="/assets/img/me-2/me-x256.jpg" alt="Photo de arthaud de profil"/>
                    <!-- <h1 class="title" data-swiper-parallax-x="-400"><em class="toAnimate">Arthaud</em> Proust</h1> -->
                    <p data-swiper-parallax-x="-600" class="pt">
                        J'ai commencé à développer des sites à 14 ans, tout d'abord pour explorer le domaine du web, puis pour apporter des solutions à des problématiques précises ou pour <b>entreprendre des projets</b>. 
                    </p>   
                    <p data-swiper-parallax-x="-450"  class="pt">
                        Aujourd'hui je suis <b>développeur freelance</b> depuis septembre 2021, à coté de mes études au <b>MMI Bordeaux</b>. 
                        <!-- Ouvert aux commandes, je propose <a class="underline" href="#">différents services</a>  -->
                    </p>
                    <p data-swiper-parallax-x="-250"  class="pt">
                        Je vise une alternance pour mes deuxième et troisième années de BUT, puis à rejoindre une école comme 42, ou l'ENSC.
                    </p>    
                    <!-- {% include components/swipe-indic.html %} -->
                </div>
            </div>
        </div>

        <!-- <div class="swipe-indication hidden">
            <p>Cliquer et glisser pour naviguer</p>
            <div class="swipe-animation"></div>
        </div> -->
    </div>
</section>