
<section class="swiper-slide" data-hash="formation">
    <div class="background" data-swiper-parallax-x="-1500" data-swiper-parallax-duration="600"></div>
    <div class="sub">

        <h2>Formation</h2>
        <ul class="grabbable grabY">
            <li>
                <article>
                    <header>
                        <h3>BUT MMI</h3>
                    </header>
                    <main>
                        <time datetime="2021">2021</time> à <time datetime="2024">2024</time>
                        <p>IUT Bordeaux Montaigne</p>
                    </main>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h3>Bac général</h3>
                    </header>
                    <main>
                        <time datetime="2021">2021</time>
                        <p>Lycée Montesquieu Bordeaux</p>
                        <p>Spécialités Maths, Physique, NSI</p>
                        <p>Mention très bien</p>
                    </main>
                </article>
            </li>  
            <li>
                <article>
                    <header>
                        <h3>PSC-1 - Premiers secours</h3>
                    </header>
                    <main>
                        <time datetime="2021">2021</time>
                        <p>Talence</p>
                    </main>
                </article>
            </li>
        </ul>
    </div>
</section>