
<section class="swiper-slide" data-hash="competences-informatiques" aria-title="Compétences info.">
    <div class="sub">
        <div>
            <h2 class="title">Ils sont mes <em class="toAnimate">compagnons</em> de travail</h2>
        </div>
        <ul>
            <li data-swiper-parallax-x="-100"><img src="{{ site.data.devicon.laravel }}" alt="Image de Laravel"/>Laravel</li>
            <li data-swiper-parallax-x="-200"><img  src="{{ site.data.devicon.react }}" alt="Image de ReactJs"/>ReactJs</li>
            <li data-swiper-parallax-x="-300"><img src="{{ site.data.devicon.nodejs }}" alt="Image de Nodejs"/>NodeJs</li>
            <li data-swiper-parallax-x="-400"><img  src="{{ site.data.devicon.tailwindcss }}" alt="Image de TailwindCss"/>TailwindCss</li>
            <li data-swiper-parallax-x="-300"><img  src="{{ site.data.devicon.figma }}" alt="Image de Figma"/>Figma</li>
            <li data-swiper-parallax-x="-200"><img src="{{ site.data.devicon.debian }}" alt="Image de Debian"/>Debian</li>
            <li data-swiper-parallax-x="-100"><img src="{{ site.data.devicon.webpack }}" alt="Image de Webpack"/>Webpack</li>
        </ul>
    </div>
</section>