
<section class="swiper-slide" data-hash="competences-informatiques">
    <div class="sub">
        <div>
            <h2 class="title">Ils sont mes <em>compagnons</em> de travail</h2>
        </div>
        <ul>
            <li data-swiper-parallax-x="-100"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/laravel/laravel-plain.svg" alt="Image de Laravel"/>Laravel</li>
            <li data-swiper-parallax-x="-200"><img  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg" alt="Image de ReactJs"/>ReactJs</li>
            <li data-swiper-parallax-x="-300"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-plain.svg" alt="Image de nodejs"/>NodeJs</li>
            <li data-swiper-parallax-x="-400"><img  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tailwindcss/tailwindcss-plain.svg" alt="Image de TailwindCss"/>TailwindCss</li>
            <li data-swiper-parallax-x="-300"><img  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/figma/figma-original.svg" alt="Image de Figma"/>Figma</li>
            <li data-swiper-parallax-x="-200"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/debian/debian-plain.svg" alt="Image de debian"/>Debian</li>
            <li data-swiper-parallax-x="-100"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/webpack/webpack-plain.svg" alt="Image de webpack"/>Webpack</li>
        </ul>
    </div>
</section>