<section class="swiper-slide" data-hash="contact" aria-title="Contact">
    <div class="sub">
        <div>
            <!-- <h2 class="title">Et si on <em>travaillait</em> ensemble?</h2> -->
            <h2 class="title">Rencontrons nous autour <em class="toAnimate">d'un café</em></h2>
        </div>
        <div>
            <h2>Un projet, une idée, envie de discuter?</h2>
            <!-- Certains l'ont fait, <a class="underline">voici ce qu'ils en pensent !</a> -->
        </div>
        <div class="hidden-sm"></div>
        
        <ul>
            <li class="fall full-select toCopy"><span class="hoverable">{{ site.email }}</span></li>
            <li class="fall full-select toCopy"><span class="hoverable">{{ site.phone }}</span></li>
            <li>{% include components/link.html href=site.seo.links.instagram content="Via Instagram" %}</li>
            <li>{% include components/link.html href=site.seo.links.linkedin content="Ou via Linkedin?" %}</li>
        </ul>
    </div>
</section>