<section class="swiper-slide" data-hash="contact">
    <div class="sub">
        <div class="hidden-sm"></div>
        <h2>Un projet, une idée, envie de discuter?</h2>
        <div>
            <!-- <h2 class="title">Et si on <em>travaillait</em> ensemble?</h2> -->
            <h2 class="title">Rencontrons nous autour <em>d'un café</em></h2>
        </div>
        <ul>
            <li class="fall">contact@arthaudproust.fr</li>
            <li class="fall">07 83 39 28 88</li>
            <li><a class="wavy fall" href="https://www.linkedin.com/in/arthaud-proust/">Ou via linkedin?</a></li>
        </ul>
    </div>
</section>