<section 
    class="swiper-slide" data-hash="realisations" aria-title="{{ include.page.title }}"
    itemscope itemtype="https://www.schema.org/CreativeWork"

>
    <meta itemprop="url" content="{{ include.link }}">


    <div class="sub noMixBlend overflow-hidden">
        
        <div class="img-wrapper" id="section-image-cover-container">
            <img class="hidden-smd full" id="sic-preview" src="{{ site.imgFolder.realisations | append: include.page.folder | append: include.page.img | append: '.jpg' }}">
            <!-- <img class="hidden-smd full" id="section-image-cover" src="{{ include.page.img }}"> -->
            {% for img in include.page.imgs %}
                <img class="hidden-smd full d-none" id="sic-{{img}}" src="{{ site.imgFolder.realisations | append: include.page.folder | append: img | append: '.jpg' }}">
            {% endfor %}
        </div>

        <div class="section-swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide hidden-xl">
                    <div class="intro-card">
                        <h2 itemprop="name" class="title">{{ include.page.title }}</h2>
                        {% if include.page.subtitle %}
                        <h3>{{ include.page.subtitle }}</h3>
                        {% endif %}
                        {% include components/swipe-indic-vertical.html %}
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="intro-card">
                        <h2>Réalisation</h2>
                        
                        <p itemprop="about">{{ include.page.desc }}</p>

                        {% if include.page.technos %}
                        <br/>
                        <h2>Technos utilisées</h2>
                        <span>
                            {% for techno in include.page.technos %}
                                <img src="{{ site.data.devicon[techno] }}" alt="techno">
                            {% endfor %}
                        </span>
                        {% endif %}
                    </div>
                </li>
                {{ content }}
                <li class="swiper-slide">
                    <ul class="card" style="padding: 0;">
                        <li><h2>Et ensuite?</h2></li>
                        {% if include.page.link %}
                        <li>{% include components/link.html href=include.page.link content="Voir en action" %}</li>
                        {% endif %}
                        
                        {% if include.page.github %}
                        <li>{% include components/link.html href=include.page.github content="Voir sur github" %}</li>
                        {% endif %}
                        <li>{% include components/link.html href="/#realisations" content="Retour aux réalisations" %}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="hidden-sm">
            <h2 class="title">{{ include.page.title }}</h2>
            {% if include.page.subtitle %}
            <h3>{{ include.page.subtitle }}</h3>
            {% endif %}
        </div>
       
        <!-- <h2 class="hoverShowHidden">(frissons garantis) <span class="hidden">si si je vous assure</span></h2> -->
    </div>  
</section>