
<section class="swiper-slide" data-hash="realisations">
    <div class="sub">

        <div></div>
        <h2 class="hoverShowHidden">(frissons garantis) <span class="hidden">si si je vous assure</span></h2>
        <div>
            <h2 class="title">Découvrez <br/>mes <em>réalisations</em></h2>
        </div>
        <ul>
            <li><a class="wavy fall" href="https://hub.arthaud.dev">Sur le Hub (toutes)</a></li>
            <li><a class="wavy fall" href="https://github.com/arthaud-proust">Sur mon github</a></li>
        </ul>
    </div>  
</section>