
<section class="swiper-slide" data-hash="competences">
    <div class="background" data-swiper-parallax-x="-1500" data-swiper-parallax-duration="600"></div>
    <div class="sub">
        <h2>Domaines de compétences</h2>
        <ul class="list-subitems">
            <li class="list-subitem">
                <span>Développement full-stack</span>
                <p>
                    J'ai acquis des compétences en réalisant des sites, en rejoignant ou en créant des projets. Je suis en mesure d'intégrer une maquette en front-end, développer un site complet ou encore de mettre en place une api.
                </p>
            </li>
            <li class="list-subitem">
                <span>Photographie</span>
                <p>
                    Je photographie des manifestations, des lieux abandonnés, des gens, le brouillard et la rue depuis 2018. Venez voir mes photo sur <a class="wavy" href="https://500px.com/p/arthaud">mon profil 500px</a>! 
                </p>
            </li>
            <li>DevOps</li>
            <li>Design</li>
            <li class="list-subitem">
                <span>Travail du bois</span>
                <p>
                    C'est une passion que je nourris à coté des études. Je sculpte divers objets, comme des prises d'escalade ou des reposes-téléphone.
                </p>
            </li>
        </ul>
    </div>
</section>