
<section class="swiper-slide" data-hash="competences" aria-title="Compétences">
    <div class="background" data-swiper-parallax-x="-1500" data-swiper-parallax-duration="600"></div>
    <div class="sub">
        <h2 class="title">Domaines de <em class="toAnimate">compétences</em></h2>
        <ul class="list-subitems">
            <li class="list-subitem">
                <span>Développement full-stack</span>
                <p>
                    J'ai acquis des compétences en réalisant des sites, en rejoignant ou en créant des projets. Je suis en mesure d'intégrer une maquette en front-end, développer un site complet ou encore de mettre en place une api.
                </p>
            </li>
            <li class="list-subitem">
                <span>Conseil</span>
                <p>
                    Être à l'écoute de votre demande et vous faire part des notions qui entrent en jeu, pour mieux vous aiguiller.
                </p>
            </li>
            <li class="list-subitem">
                <span>Photographie</span>
                <p>
                    Je fais de la photo d'architecture, de rue et de portraits depuis 2018. Venez voir mes photo sur {% include components/link.html href="https://500px.com/p/arthaud" content="mon profil 500px" %}! 
                </p>
            </li>
            <li>Design</li>
            <li class="list-subitem">
                <span>Travail du bois</span>
                <p>
                    C'est une passion que je nourris à coté des études. Je sculpte divers objets, comme des prises d'escalade ou des repose-téléphone.
                </p>
            </li>
            <li><div on-click-main-next class="hoverable underline">Voir les compétences techniques</div></li>
        </ul>
    </div>
</section>