<section class="swiper-slide" data-hash="on-travaille-ensemble">
    <div class="sub">
        <div>
            <h2 class="title">Nous travaillons <em>ensemble</em></h2>
        </div>
        <ul>
            <li data-swiper-parallax-x="-100">
                {% 
                    include components/testimony.html 
                    title="Guilhem Granier"
                    subtitle="Professeur d'EPS au Lycée Montesquieu"
                    img="https://escalade-montesquieu.fr/assets/img/apple/apple-touch-icon-144x144.png"
                    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde, molestiae maxime pariatur repudiandae architecto reiciendis voluptatum aliquam harum doloribus qui aperiam tenetur, excepturi totam dolor animi consequatur distinctio consequuntur?"
                %}
            </li>

            <li data-swiper-parallax-x="-100">
                {% 
                    include components/testimony.html 
                    title="Lubbock Photos"
                    subtitle="Photographe à Bordeaux"
                    img="https://lubbockphotos.com/assets/img/apple-touch-icon-144x144.png"
                %}
            </li>

            <li data-swiper-parallax-x="-100">
                {% 
                    include components/testimony.html 
                    title="Rachel Bourgeois"
                    subtitle="Psychologue à Caudéran"
                    img="https://rachelbourgeois-psychologue.fr/assets/img/apple-touch-icon-144x144.png"
                %}
            </li>

            <li data-swiper-parallax-x="-100">
                {% 
                    include components/testimony.html 
                    title="Pourquoi pas vous?"
                    content=""
                %}
            </li>
        </ul>
    </div>
</section>