<section class="swiper-slide" data-hash="on-travaille-ensemble">
    <div class="sub">
        <div>
            <h2 class="title">Nous travaillons <em>ensemble</em></h2>
        </div>
        <ul>
            {% for testimony in site.data.testimonies %}
            <li data-swiper-parallax-x="-100">
                {% 
                    include components/testimony.html 
                    title=testimony.title
                    subtitle=testimony.subtitle
                    img=testimony.img
                    content=testimony.content
                %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>