
<section class="swiper-slide" data-hash="pourquoi-moi" aria-title="Pourquoi moi?">
    <div class="background" data-swiper-parallax-x="-1500" data-swiper-parallax-duration="600"></div>
    <div class="sub">
        <div>
            <h2 class="title">Pourquoi <em class="toAnimate">travailler</em> avec moi?</h2>
        </div>
        <ol class="list-subitems">
            <li></li>
            <li class="list-subitem">
                <span>Jeune et expérimenté</span>
                <p>
                    En ce qui concerne la gestion de projet, le dialogue entre client et développeur, la construction d'un site... <br/>
                    Évidemment, il me reste beaucoup à apprendre :)
                </p>
            </li>
            <li>Respectueux et à l'écoute</li>
            <li class="list-subitem">
                <span>Je sais cuisiner des tomates farcies</span>
                <p>
                    La recette transmise de génération en génération !
                </p>
            </li>
            <li>Je suis débrouillard</li>
            <li>Apprendre est mon objectif premier</li>
        </ol>
    </div>

</section>