
<section class="swiper-slide" data-hash="pourquoi-moi">
    <div class="background" data-swiper-parallax-x="-1500" data-swiper-parallax-duration="600"></div>
    <div class="sub">
        <div>
            <h2 class="title">Pourquoi <em>travailler</em> avec moi?</h2>
        </div>
        <ol class="list-subitems">
            <li>Je suis humain</li>
            <li>Respectueux et à l'écoute</li>
            <li class="list-subitem">
                <span>Je sais cuisiner des tomates farcies</span>
                <p>
                    La recette transmise de génération en génération !
                </p>
            </li>
            <li>Je suis débrouillard</li>
            <li>Apprendre est mon objectif premier</li>
        </ol>
    </div>

</section>