.italic {
    font-style: italic;
}
.strike {
    text-decoration: line-through;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #f4f4f4;
}

ul {
    list-style:none;
}

ol {
    list-style: "\1F449 ";
}

