

body.contentHidden {
    animation: bgFade 0.6s 3.9s forwards;
    background-color: #000001;
    
    & > *:not(#pageTransition, #superCursor) {
    opacity: 0;
    animation: logoContentFadeIn 0.8s 3s forwards;
    }

    #pageTransition {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        animation: logoFadeOut 0.2s 2.7s forwards;

        #pageTransition-back {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 9999;
            background: #000001;
        }

        #pageTransition-logo {
            --s: 200px;
            position: relative;
            z-index: 100000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // border: 1px solid #fff;
            background: #F4F4F4;
            height: var(--s);
            width: var(--s);
            border-radius: 100%;
            // animation: logoPop 0.5s forwards;

            // &::before, &::after {
            //     position: absolute;
            //     content: '';
            //     transform: translate(-50%, -50%);
            //     height: 0%;
            //     width: 0%;
            //     top: 50%;
            //     left: 50%;
            //     border-radius: 100%;
            // }

            // &::before {
            //     background: #F4F4F4;
            //     animation: logoBackScale 0.5s 3s forwards;
            // }

            // &::after {
            //     background: #000001;
            //     z-index: 9999999999;
            //     animation: logoBackScale 0.5s 4s forwards;
            // }

            #logo-e18 {
                position: absolute;
                height: 31.69583333333333%;
                width: 31.69583333333333%;
                left: 50.22083333333333%;
                top: 18.304166666666667%;
                background: #000001;
                border-radius: 100%;
                transform: scale(0);
                animation: logoPop 0.5s 1.5s forwards;
            }

            #logo-r8 {
                position: absolute;
                width: 15.85%;
                height: 63.395833333333336%;
                left: 50.22083333333333%;
                top: 18.304166666666667%;
                background: #F4F4F4;
                mix-blend-mode: difference;
                // transform: scale(0);
                // animation: logoPop 0.5s 1s forwards;

                transform: scaleY(0);
                transform-origin: bottom;
                animation: logoScaleHeight 0.5s 1s forwards; 
            }


            #logo-r6 {
                position: absolute;
                width: 3.1708333333333334%;
                height: 63.395833333333336%;
                left: 43.88333333333333%;
                top: 18.304166666666667%;
                background: #000001;
                transform: scaleY(0);
                transform-origin: top;
                animation: logoScaleHeight 0.5s 0.3s forwards; 
            }
            #logo-r9 {
                position: absolute;
                width: 19.016666666666666%;
                height: 1.5333333333333334%;
                // left: 24.866666666666667%;
                right: 56.16%;
                top: 54.80833333333333%;
                background: #F4F4F4;
                mix-blend-mode: difference;
                transform: scaleX(0);
                transform-origin: right;
                animation: logoScaleWidth 0.5s 0.6s forwards; 
            }


            #logo-v8 {
                // 
                position: absolute;
                width: 28.529166666666665%;
                height: 63.395833333333336%;
                left: 18.525%;
                top: 18.304166666666667%;
                
                clip-path: polygon(0% 100%, 30% 100%, 30% 100%, 0% 100%);
                // clip-path: polygon(70% 0%, 100% 0%, 30% 100%, 0% 100%);
                background: #000001;
                // transform: scale(0);
                // animation: logoPop 0.2s forwards;  

                // transform: scaleY(0);
                transform-origin: bottom;
                animation: buildLogoV8 0.5s 0s forwards;
                // animation: logoScaleHeight 0.5s 0s forwards; 
            }
        }
    }
}


@keyframes bgFade {
    from {
        background-color: #000001 ;
    } 
    to {
        background-color: #fafafa;
    }
}

@keyframes buildLogoV8 {
    from {
        clip-path: polygon(0% 100%, 30% 100%, 30% 100%, 0% 100%);
    } 
    to {
        clip-path: polygon(70% 0%, 100% 0%, 30% 100%, 0% 100%);
    }
}


@keyframes logoPop {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes logoScaleHeight {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@keyframes logoScaleWidth {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes logoBackScale {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        height: 0%;
        width: 0%;
    }
    to {
        transform: translate(-50%, -50%) rotate(180deg);
        height: 200vh;
        width: 200vw;
    }
}

@keyframes logoFadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes logoContentFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}