.d-none {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}

.full-select {
    user-select: all !important;
}

@media screen and (min-width:576px ){
    .hidden-sm {
        display: initial;
    }

    .hidden-xl {
        display: none !important;
    }
}
@media screen and (max-width:576px ){
    .hidden-sm {
        display: none !important;
    }
    .hidden-xl {
        display: initial;
    }
}