<url>
    <loc>{{ site.seo.url }}{{ include.url | remove: "index.html" }}</loc>
    {% if include.sitemap.lastmod -%}
    <lastmod>{{ include.sitemap.lastmod | date: "%Y-%m-%d" }}</lastmod>
    {% elsif include.date -%}
    <lastmod>{{ include.date | date_to_xmlschema }}</lastmod>
    {% else -%}
    <lastmod>{{ site.time | date_to_xmlschema }}</lastmod>
    {% endif -%}
    {% if include.sitemap.changefreq -%}
    <changefreq>{{ include.sitemap.changefreq }}</changefreq>
    {% else -%}
    <changefreq>weekly</changefreq>
    {% endif -%}
    {% if include.sitemap.priority -%}
    <priority>{{ include.sitemap.priority }}</priority>
    {% else -%}
    <priority>0.3</priority>
    {% endif -%}
</url>