<!DOCTYPE html>
<html lang="fr">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include seo.html %}


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css?v={{ site.version }}">

        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />

        <script src="/js/swiper-bundle.min.js"></script>
        <script src="/js/app.js?v={{ site.version }}"></script>
    </head>
    <body data-menu-open="false">
        <div class="corner" id="corner-a"></div>
        <div class="corner" id="corner-b"></div>
        <div class="corner" id="corner-c"></div>
        <div class="corner" id="corner-d"></div>
 
        {% include header.html %}
        <div id="right-text" class="decoration-line vertical"></div>
        <div id="left-text" class="decoration-line vertical"></div>

        {{ content }}

        {% include footer.html %}
    </body>
</html>